<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hi, {{userName }}!</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="open-appointment-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal trigger="open-appointment-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="onCancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="onConfirm()" [strong]="true"
              >Confirm</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="appointmentForm">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-select
                    label="Physiotherapist"
                    placeholder="Select Physiotherapist"
                    formControlName="physiotherapist"
                  >
                    <ion-select-option
                      *ngFor="let physio of physios"
                      [value]="physio"
                      >{{physio.name}}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-input
                    label="Location"
                    type="text"
                    placeholder="Enter address"
                    formControlName="location"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-datetime
                    minuteValues="0, 15, 30, 45"
                    formControlName="dateTime"
                  ></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
