<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Appointments </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="isAppointmentsEmpty; else appointmentCards">
    <p>You have no appointments to display.</p>
  </ng-container>
  <ng-template #appointmentCards>
    <ion-card *ngFor="let appt of appointments">
      <ion-card-header>
        <ion-card-title>Appointment with {{appt.physio.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Time: {{appt.date}}</p>
        <p>Location: {{appt.location}}</p>
        <p>Status: {{appt.status}}</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
