<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Physios </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let physio of physios">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="2"
            ><ion-icon
              class="physio-photo"
              name="person-circle"
              size="large"
            ></ion-icon
          ></ion-col>
          <ion-col size="10">
            <ion-card-header>
              <ion-card-subtitle> {{physio.specialisation}}</ion-card-subtitle>
              <ion-card-title>{{physio.name}}</ion-card-title>
            </ion-card-header></ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
