<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="patients" href="/tabs/patients">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Physios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="appointments" href="/tabs/appointments">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Appointments</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
